<div>
  <%= show_latest(@article) %>
  <div class='blog-comments'>
    <% unless @article.nil? %>
    <% @article.comments.each do |x| %>
      <%= list_comments(x) %>
    <% end  %>
    <%= render :partial =>'comments/form', :locals => {:comment => @comment, :article => @article } %>
    <% end %>
  </div>
</div>